.card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
    text-align: center;
}

.card.card-cascade h3, 
.card.card-cascade h4,{
        margin-bottom: 0px;
    }

span.together{
        line-height: 5px;
        font-size: 1.2rem;
    }

span.left{
        font-size: 3.6rem
    }

.group{
        line-height: 21px;
        line-break: normal;
    }

.progress-bar, .progress {
    height: 20px !important;
  }


