.card.card-cascade .view.gradient-card-header {
    padding: 1rem 1rem;
    text-align: center;
}

.card.card-cascade h3, 
.card.card-cascade h4, 
{
margin-bottom: 0px;
}

.label{
    color: #757575;
    font-size: 1rem;
    
}
li>a{
    text-decoration: none;
    color:#FFFFFF;
    background-color: rgb(93, 70, 221);
    border: 2px solid white;
  }
  li {
      background-color: #075dceda;
      color: white;
    } 
  
  li.active,li>a:active{
    background-color: #053e8ada;
    color: white;
  }
  .nav-item:hover, li>a:hover{
        background-color: #2b6cc29b; 
        color: white;
  }
  
  