<div></div>
<div class="container m-3 p-3 mb-2 mx-auto my-auto p-2">
  <!-- Registration Form -->
  <form [formGroup]="registration" class="p-3" novalidate (ngSubmit)="onSubmit()">
      <!-- title, firstname,lastname row -->
      <div class="form-row">
        <!-- title column -->
        <div class="col-md-2">
          <div class="md-form form-group">
              <input mdbInputDirective type="text" class="form-control" id="title"
              formControlName="title" data-error="a valid title is required" 
                data-success=" " maxlength="6" required>
              <label for="title">Title</label>
          </div>
        </div>
        <!--first name column -->
        <div class="col-md-5">
          <!-- first name -->
          <div class="md-form form-group">
            <input mdbInputDirective type="text" class="form-control" id="firstname"
            formControlName="firstname" data-error="a name is required" data-success=" " required>
            <label for="firstname">First Name</label>
          </div>
        </div>
        <!-- middle name -->
        <div class="col-md-5">
          <div class="md-form form-group">
            <input mdbInputDirective type="text" class="form-control" id="middlename" required
              formControlName="middlename" data-error="a middlename name is required" data-success=" ">
            <label for="middlename">Second Name</label>
          </div>
        </div>
      </div> 

      <div class="form-row">
      <!-- lastname column -->
        <div class="col-md-6">
            <!-- lastname -->
            <div class="md-form form-group">
              <input mdbInputDirective type="text" class="form-control" id="surname" required 
              formControlName="surname" data-error="a name is required" data-success=" ">
              <label for="surname">Last Name</label>
            </div>
          </div>
      <!-- username -->
      <div class="col-md-6">
          <div class="md-form form-group">
            <input mdbInputDirective type="text" class="form-control" id="username" required
            formControlName="username" data-error="a name is required" data-success=" ">
            <label for="username">Username</label>
          </div>
      </div>
      </div>
    
      <!-- password and password confirmation -->
      <div class="form-row">
        <div class="col-md-6">
          <!-- password-->
          <div class="md-form form-group">
            <input mdbInputDirective type="password" class="form-control" id="pass" required
              formControlName="password" data-error="password should be at least 6 characters" data-success=" ">
            <label for="pass">Password</label>
          </div>
        </div>

            <!-- password -->
            <div class="col-md-6">
              <!-- password-->
              <div class="md-form form-group">
                <input mdbInputDirective type="password" class="form-control" id="passs_conf" required
                  formControlName="password_confirmation" data-error="Your passwords do not match" data-success=" ">
                <label for="pass_conf">Password Confirmation</label>
              </div>
            </div>
      </div>

      <!-- alt email and phone -->
      <div class="form-row">
          <div class="col-md-6">
              <!-- alt email -->
              <div class="md-form form-group">
                <input mdbInputDirective type="email" class="form-control" id="email_other" 
                  formControlName="email_other" data-error=" " data-success=" ">
                <label for="email_other">Alternative Email</label>
              </div>
            </div>
          <!-- phone_no -->
          <div class="col-md-6">
            <!-- phone_no-->
            <div class="md-form form-group">
              <input mdbInputDirective type="tel" class="form-control" id="phone_no" required
                formControlName="phone_no" data-error="a valid phone number is required" data-success=" ">
              <label for="phone_no">Phone Number</label>
            </div>
          </div>
      </div>

      <!-- gender, dob -->
      <div class="form-row">
          <!-- gender -->
          <div class="col-md-3">
              <div class="md-form form-group">
                
                  <input type="radio" class="form-check-input" id="male" name="gender" value="M" mdbInputDirective
                  formControlName="gender" data-error="this field is required" data-success=" ">
                  <label class="form-check-label" for="male">Male</label>

                  <input type="radio" class="form-check-input" id="female" name="gender" value="F" mdbInputDirective
                  formControlName="gender" data-error="this field is required" data-success=" ">
                  <label class="form-check-label" for="female">Female</label>
                  <label>Gender</label>
                </div>
              </div>

            <!-- dateOfBirth-->
          <div class="col-md-3">
            <div class="md-form form-group">
              <input mdbInputDirective type="date" class="form-control" id="dob" placeholder="date of birth"
                formControlName="dob" data-error="a birth date required" data-success=" " required>
              <label for="dob">Date of Birth</label>
            </div>
          </div>
          <!-- language -->
          <div class="col-md-6">
              <div class="md-form form-group">
                <select class="custom-select browser-default" formControlName="language" required>
                  <option value="" disabled selected >Choose a language </option>
                  <option *ngFor="let language of users$.languages" value="language?.name">{{language?.name}}</option>
                </select>
              </div>
            </div>
   
      </div>

      <!-- country of residence and nationality -->
      <div class="form-row">

        <!-- nationality -->
        <div class="col-md-6">
            <div class="md-form form-group">
                <input mdbInputDirective type="text" class="form-control" id="nationality" required
                formControlName="nationality" data-error="a valid nationality is required" data-success=" ">
              <label for="nationality">Nationality</label>
            </div>
          </div>

        <!-- country of residence -->
          <div class="col">
              <div class="md-form form-group">
                  <select class="custom-select browser-default" formControlName="country" required>
                  <option value="" disabled selected >Country Of Residence</option>
                  <option *ngFor="let country of users$.countries" value="country.name">{{country.name}}</option>
                </select>
              </div>
            </div>
            
        </div>   

        <!-- trainingSchool and name of church -->
      <div class="form-row">

        <!-- trainingSchool -->
        <div class="col-md-5">
            <div class="md-form form-group">
                <label>Have you completed the Training School?</label>
                <input type="radio" class="form-check-input" id="yes" name="training_sch_completed" value="1" mdbInputDirective
                formControlName="training_sch_completed" data-error="this field is required" data-success=" ">
                <label class="form-radio-label" for="yes">Yes</label> &nbsp;

                <input type="radio" class="form-check-input" id="no" name="training_sch_completed" value="0" mdbInputDirective
                formControlName="training_sch_completed" data-error="this field is required" data-success=" ">
                <label class="form-radio-label" for="no">No</label>
              </div>
            </div>

            <!-- name of church -->
          <div class="col-md-7">
            <div class="md-form form-group">
                <input mdbInputDirective type="text" class="form-control" id="church" name="church"
                formControlName="church" data-error="a church name is required" data-success=" " >
              <label for="church">Name Of Church</label>
            </div>
          </div>
      </div>

      <!-- marital status -->
      <div class="form-row">
        <div class="col">
          <div class="md-form form-group">
              <label>Marital Status </label>
              <input type="radio" class="form-check-input" id="married" name="marital_status" value="married" mdbInputDirective
              formControlName="marital_status" data-error="this field is required" data-success=" ">
              <label class="form-radio-label" for="married">Married</label>

              <input type="radio" class="form-check-input" id="single" name="marital_status" value="single" mdbInputDirective
              formControlName="marital_status" data-error="this field is required" data-success=" ">
              <label class="form-radio-label" for="single">Single</label>

              <input type="radio" class="form-check-input" id="widowed" name="marital_status" value="widowed" mdbInputDirective
              formControlName="marital_status" data-error="this field is required" data-success=" ">
              <label class="form-radio-label" for="widowed">Widowed</label>
          </div>   
        </div> 
      </div> 

        <!-- if married, -->
      <div *ngIf="marital_status.value==='married'">
        <!-- name and birthday of spouse -->
          <div class="form-row">
                <!-- name of spouse-->
                <div class="col-md-6">
                    <div class="md-form form-group">
                      <input mdbInputDirective type="text" class="form-control" id="nos"
                      formControlName="spouse_name" data-error="a name is required " data-success=" ">
                      <label for="nos">Name of Spouse</label>
                    </div>
                  </div>
                  
                  <!-- birthOfSpouse-->
                <div class="col-md-6">
                    <div class="md-form form-group">
                      <input mdbInputDirective type="date" class="form-control" id="bos" placeholder="Birth Day of Spouse"
                        formControlName="spouse_dob" data-error="your spouse' birthday is required " data-success=" ">
                      <label for="bos">Birth Day of Spouse</label>
                    </div>
                  </div>
                  
          </div>
          <!-- spouse tni and wedding anniversary -->
          <div class="form-row">
            <!-- is spouse tni member -->
              <div class="col-md-6">
                <div class="md-form form-group">
                    <label>Is your spouse a member of TNI? </label>
                    <input type="radio" class="form-check-input" id="tniMember" name="spouse_is_tni" value="1" mdbInputDirective
                    formControlName="spouse_is_tni" data-error="this field is required" data-success=" ">
                    <label class="form-radio-label" for="tniMember">Yes</label>

                    <input type="radio" class="form-check-input" id="not tniMember" name="spouse_is_tni" value="0" mdbInputDirective
                    formControlName="spouse_is_tni" data-error="this field is required" data-success=" ">
                    <label class="form-radio-label" for="not tniMember">No</label>
                </div>   
              </div>   
              <!-- wedding anniversary -->
              <div class="col-md-6">
                  <div class="md-form form-group">
                    <input mdbInputDirective type="date" class="form-control" id="wa" placeholder="Wedding Anniversary"
                      formControlName="wedding_anniversary" data-error="this field is required " data-success=" ">
                    <label for="wa">Wedding Anniversary</label>
                  </div>
              </div>
          </div>

          <!-- spouse' email and phone -->
          <div class="form-row">
              <!-- spouse email -->
              <div class="col-md-4">
                  <div class="md-form form-group">
                    <input mdbInputDirective type="email" class="form-control" id="emailOfSpouse" 
                      formControlName="spouse_email" data-error="a valid email is required" data-success=" ">
                    <label for="emailOfSpouse"> Email address of your spouse</label>
                  </div>
                </div>

                <!-- Spouse' phone -->
                <div class="col-md-4">
                  <div class="md-form form-group">
                    <input mdbInputDirective type="tel" class="form-control" id="phone"
                      formControlName="spouse_phone" data-error="a valid phone number is required" data-success=" ">
                    <label for="phone">Phone number of your spouse</label>
                  </div>
                </div>   

          </div> 
    </div>

      <!-- water baptized, kids, foundation school -->
    <div class="form-row">
        <!-- water baptized -->
        <div class="col-md-4">
          <div class="md-form form-group">
              <label>Are you water baptized? </label>
              <input type="radio" class="form-check-input" id="baptized" name="is_baptized" value="1" mdbInputDirective
              formControlName="is_baptized" data-error="this field is required" data-success=" ">
              <label class="form-radio-label" for="baptized">Yes</label> &nbsp;

              <input type="radio" class="form-check-input" id="not baptized" name="is_baptized" value="0" mdbInputDirective
              formControlName="is_baptized" data-error="this field is required" data-success=" ">
              <label class="form-radio-label" for="not baptized">No</label>
          </div>   
        </div>
        <!-- Do you have kids -->
          <div class="col-md-4"> 
            <div class="md-form form-group">
              <label>Do you have kids? </label>
                <input type="radio" class="form-check-input" id="haveKids" name="has_children" value="1" mdbInputDirective
                formControlName="has_children" data-error="this field is required" data-success=" ">
                <label class="form-radio-label" for="haveKids">Yes</label> 
  
                <input type="radio" class="form-check-input" id="not_haveKids" name="has_children" value="0" mdbInputDirective
                formControlName="has_children" data-error="this field is required" data-success=" ">
                <label class="form-radio-label" for="not_haveKids">No</label>
            </div>   
        </div>
        <!-- foundation school -->
        <div class="col-md-4">
          <div class="md-form form-group">
              <label>Have you completed the foundation school? </label>
              <input type="radio" class="form-check-input" id="foundationSchool" name="foundation_sch_completed" value="1" mdbInputDirective
              formControlName="foundation_sch_completed" data-error="this field is required" data-success=" ">
              <label class="form-radio-label" for="foundationSchool">Yes</label> &nbsp;

              <input type="radio" class="form-check-input" id="not foundationSchool" name="foundation_sch_completed" value="0" mdbInputDirective
              formControlName="foundation_sch_completed" data-error="this field is required" data-success=" ">
              <label class="form-radio-label" for="not foundationSchool">No</label>
          </div>  
        </div>
    </div>

    <!-- errors -->
        <div *ngIf="errors.length>0"  class="alert alert-danger" >
          <ul>
            <li *ngFor="let error of errors">{{error}}</li>
          </ul>
        </div>
      <!-- submit row -->
      <!--   disable submit button if form is invalid  -->
     <div class="text-center m-2 p-2">
      <button type="submit"   class="btn btn-primary btn-rounded" [disabled]="registration.invalid" >Register</button>
      <mdb-spinner *ngIf="loading" spinnerType="small"></mdb-spinner>
      </div>
    </form>
</div>