<section class=" my-4 py-3">
  <mdb-accordion [multiple]="true">
      <mdb-accordion-item 	[collapsed]="false">
        <mdb-accordion-item-head><strong> OUR POLICY</strong></mdb-accordion-item-head>
        <mdb-accordion-item-body>
          <ol>
            <li>
                Members must be born again and must have been acquainted with the ministry of the man of God, Pastor Chris for a period of at least 6 months. 
            </li>
            <li>
               Members of the Network are required to have some tertiary level of education 
            </li>
            <li>
                Members are required to have a good grasp of the English language and the specified translation offered to ensure excellent communication of all translation works.
            </li>
            <li>
                Members are required to pass through the Training and Certification Program of all Translators
                The Training and Certification Program of translators is crucial as it would determine the quality of the translated materials delivered to the ministry. 
                The training curriculum, is centred on your understanding and ‘sunesis’ of the ministry message. Kindly click on the link to register:
                <a href="http://loveworldtrainingcentre.org/reg/tntp">LVTC</a> 
            </li>
            <li>
                Members required to keep confidential all documents and correspondence bothering on the BLW ministry. 
            </li>
            <li>
                Upon acceptance of the above policies, members are required to sign up as a member of the Translators’ Network International.
            </li>
          </ol>
        </mdb-accordion-item-body>
      </mdb-accordion-item>
    
      <mdb-accordion-item>
        <mdb-accordion-item-head><strong>MEMBERSHIP POLICY</strong></mdb-accordion-item-head>
        <mdb-accordion-item-body>
            All members of TNI are dedicated to advancing the set objectives of the Network:
              <ol>
                <li>
                    Members are required to sign an acceptance form after agreeing to our policies
                </li>
                <li>
                    Membership is renewable on an annual basis
                </li>
              </ol>
              <br>
              <em><strong>The membership form should be duly filled and sent to the designated e-mail address. Upon acceptance into the Network:</strong></em>
              <ul>
                <li>
                    Translators cannot canvass for funds on behalf of the department
                </li>
                <li>
                    Translators cannot use the President’s name to canvass for funds
                </li>
                <li>
                  Translators cannot use the Director’s name to canvass for funds
                </li>
                <li>
                  Translators cannot use the Network’s name to canvass for funds
                </li>
                <li>
                    Any financial implication has to be communicated directly with the department
                </li>
                <li>
                    Translators cannot use their work and ministry as translators for business purposes
                </li>
              </ul>
        </mdb-accordion-item-body>
      </mdb-accordion-item>
    
      <mdb-accordion-item>
        <mdb-accordion-item-head><strong>PRINTING & DISTRIBUTION RIGHTS</strong></mdb-accordion-item-head>
        <mdb-accordion-item-body>
          <ul>
            <li>
                Printing permits (where applicable) will be reviewed yearly. 
            </li>
            <li>
                All translators who have been granted printing permits and are being sponsored by the department are required to ONLY do free distribution of the material in question. For instance, they CANNOT sell the Rhapsody of Realities devotional in this instance.
            </li>
            <li>
                All Translators who have been granted printing permits and the printing and distribution is being sponsored by the translator can ONLY be involved in the free distribution of the material. For instance, they CANNOT sell the Rhapsody of Realities devotional also in this instance.
            </li>
            <li>
                All Translators who have been granted printing permits and want to be involved in the sales of the devotional must do so through the Rhapsody of Realities International Liaison office @ rorinternationalliaison@rhapsodyofrealities.org
            </li>
          </ul>
            
        </mdb-accordion-item-body>
      </mdb-accordion-item>

    </mdb-accordion>
</section>