<!-- row body -->
<div class="cloudy-knoxville-gradient m-0 p-2">
  
  <div class="row m-3 p-2 ">
  <div class="col-lg-12 p-2 container">
      <!-- <div class="p-5 flex-grow-1 "> -->
        <mdb-card>
          <mdb-card-header class="primary-color white-text wow fadeInDown" >
              <h3 class="text-center">About TNI Training School(TNITS)</h3>
          </mdb-card-header>
            <mdb-card-body class="pb-0">
                  <mdb-card-text class="wow fadeInDown" data-wow-delay="0.3s" >
                    The Translators’ Network International Training School 
                    is the training arm of the Translators’ Network International (TNI), a network of translators who are 
                    committed to ensuring the works and messages of Believers’ LoveWorld Inc. (in all formats) are available
                    and accessible to all people in the language they understand best.
                      <!-- <br><span class="wow fadeInDown strong"> Welcome to Christ Embassy. </span> -->
                  </mdb-card-text>
                </mdb-card-body>
                <mdb-card-body >
                      <!-- <mdb-card-title class="wow fadeInDown">Worship with us today</mdb-card-title> -->
                      <mdb-card-text class="wow fadeInDown" data-wow-delay="0.3s">
                          The Translators Network International Training School (TNITS) was birthed as a 
                          result of the ever-growing Ministry Translators with the intent certifying the 
                          effective communication of the realities of God’s Word and are excellent 
                          publishers of the gospel of Jesus Christ.
                    </mdb-card-text>
              </mdb-card-body>
              <mdb-card-body class="pb-0">
                  <mdb-card-text class="wow fadeInDown" data-wow-delay="0.3s" >
                      TNITS is educative, insightful, and inspirational with a structured training platform, 
                      designed to train and equip ministry (LoveWorld) translators from around the world. 
                      It is an avenue to continuously improve the quality of all languages in which the Believers’ 
                      LoveWorld Message is available in, because God’s Word is the only agent of change.
                  </mdb-card-text>
              </mdb-card-body>
        </mdb-card>
      <!-- </div> -->
   
  </div>
  </div> 
</div>