<!-- row body -->
<div class="cloudy-knoxville-gradient m-0 p-2">
  
    <div class="row m-3 p-2 ">
    <div class="col-lg-12 p-2 container">
        <!-- <div class="p-5 flex-grow-1 "> -->
            <mdb-card>
                <mdb-card-header class="primary-color white-text wow fadeInDown" data-wow-delay="0.3s">
                    <h3 class="text-center">TRANSLATORS’ NETWORK INTERNATIONAL</h3>
                </mdb-card-header>
                <mdb-card-body class="pb-0">
                    <mdb-card-text class="wow fadeInDown" data-wow-delay="0.3s">
                        <span class="wow fadeInDown">The Translators’ Network International is a Network of Translators who are involved 
                        and committed to ensuring the works and messages of Pastor Chris Oyakhilome (in all 
                        formats) are available and accessible to all people in the language they understand 
                        best. </span>
                        <span class="wow fadeInDown">This is because we believe all our ministry products are a unique and excellent tool
                        to disciple and transform the mind-set of a person.</span>
                    </mdb-card-text>
                  </mdb-card-body>
            </mdb-card>
        <!-- </div> -->
     
    </div>
    </div> 
  </div>
  